.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

.tests {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 800px) {
  .App {
    display: none;
  }
}
